
  
  .main-page {
    
    height: 600px;
    width: 100%;
    overflow: hidden;
  }
  
  
  .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
  
    z-index: -1;
  }
  
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.26); 
    z-index: 1;
    display: flex; 
    align-items: center; 
    
  }
  
  .logo {
    color: white; 
    font-size: 24px; 
    font-weight: bold; 
    flex: 1;
  }
  
  .nav-links {
    
    flex: 2; 
    display: flex; 
    justify-content: flex-start; 
    margin: 0; 
    margin-right: -1300px;
    font-size: 20px;
    
  }
  
 
  .nav-links a {
    color: white; 
    text-decoration: none;
    margin: 0 15px; 
    transition: color 0.3s ease ;
  }

  .nav-links a:hover {
    color: lightgray; 
    font-size: 19px;
  }
  
  
  
  .login-btn,
  .register-btn {
    color: white; 
    background-color: transparent; 
    border: 2px solid white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-left: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .register-btn{
    margin-right: 40px;
  }
  
  .login-btn:hover,
  .register-btn:hover {
    background-color: rgb(255, 255, 255); 
    color: black; 
  }

  .left-div {
    position: absolute;
    top: 200px; 
    left: 40px; 
    color: white; 
    
    right: 430px;
    animation: slideInFromTop 1s forwards;
  }

  @keyframes slideInFromTop {
    from {
      top: -50px; 
    }
    to {
      top: 150px; 
    }
  }
  
  .left-text{
    padding-right: 200px;
    font-size: 60px;
  }
 
  .right-div {
    position: absolute;
    top: 80px; 
    right: 150px; 
    bottom: 50px;
    animation: slideInFromRight 1s forwards;
  }
  
  @keyframes slideInFromRight {
    from {
      right: -150px; 
    }
    to {
      right: 90px; 
    }
  }
  .right-image {
    width: 390px; 
    height: 500px;
   padding-right: -70px;
  }


  
 


  
 