/* 
--clr-i: #0c2e57de;
--clr-ii:#010911; */

.login-page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 400px;
    aspect-ratio: 1;
    border-radius: 10px;
    padding: 60px 80px;
   
  }
  
  .login-page::before {
    position: absolute;
    content: "";
    height: calc(100% - 3px);
    width: calc(100% - 3px);
    /* background-color: #dd1f1f; */
    border-radius: 9px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .login-page header {
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
  }
  
  .login-page header span {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.534);
  }
  
  .login-page header span i {
    background: linear-gradient(90deg, #ecececde, #f0f0f0);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .logo {
    position: relative;
    width: 100px;
  }
  
  .login-page .title {
    position: relative;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(45deg, #b9c5d3de,#f1f2f3);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .login-page form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 30px;
  }
  
  .login-page form .username,
  .login-page form .email,
  .login-page form .password {
    position: relative;
  }
  
  .login-page form input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 20px 10px 3px;
    border-bottom: 1px solid #f3f3f3;
    color: white;
  }
  
  .login-page form input:focus {
    outline: none;
  }
  
  .login-page form label {
    position: absolute;
    font-size: 13px;
    top: 18px;
    left: 3px;
    color: rgb(255, 255, 255);
    transition: 0.2s ease;
  }
  
  .login-page form input:focus ~ label,
  .login-page form input:valid ~ label {
    top: 0;
    color: #dbdbdb;
  }
  
  .status {
    width: 50px;
    margin: 5px auto;
    scale: 0;
    animation: show 0.5s ease forwards;
  }
  @keyframes show {
    to {
      scale: 1;
    }
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
  
  .login-page form button {
    background-color: #1a3385a2;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  button:active {
    scale: 0.98;
  }
  
  .user-stat {
    color: white;
    font-size: 14px;
    margin: 0 auto;
  }
  .user-stat b {
    color: #ff1b1b;
    cursor: pointer;
  }